@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .input-css{
        @apply text-black p-2 border-2 border-black h-12;
    }

    .title-box{
        @apply text-5xl mb-6 font-bold
    }

    .main-title{
        @apply text-7xl text-center font-extrabold my-16
    }

    .box-bcg{
        @apply bg-cyan-200 h-60 mb-10 pt-20 px-10
    }
    .box-title{
        @apply text-[#6883ae] text-3xl font-bold
    }
    .box-subtitle{
        @apply text-[#96aece] text-xl font-semibold
    }

    .skill-text{
        @apply text-xl font-bold text-gray-400 
    }

}


.container{
    margin: auto;
    max-width: 1440px;
}

html, body{
    scroll-behavior: smooth;
}